.about {
  background-color: $white;
}
.about .container {
  flex-direction: column;
  max-height: 67rem;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.about .container .title {
  color: #1d1e1e;
  padding: 18rem 0 0;
  font-weight: 400;
  word-spacing: 0.3rem;
  line-height: 125%;
  transition: $transition;
}
.about .container .link {
  padding: 0 0 15rem 0;
  letter-spacing: 0.14rem;
}
.about .container .link span {
  padding: 0.5rem 0;
  transition: $transition;
  color: #545454;
}
.about .container .link span:after {
  content: "";
  display: block;
  width: 100%;
  margin: 0.5rem auto;
  height: 1px;
  background-color: #545454;
  transition: $transition;
}
.about .container .link span:hover {
  cursor: pointer;
  color: $specialRed;
}
.about .container .link span:hover:after {
  width: 0%;
  background-color: $specialRed;
}
