.about {
  background-color: $white;
}
.about .container {
  flex-direction: column;
  min-height: 67rem;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.about .container h1 {
  color: #1d1e1e;
  padding: 18rem 0 0;
  font-weight: 400;
  font-size: 450%;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  line-height: 125%;
}
.about .container .link {
  padding: 0 0 15rem 0;
  font-size: 270%;
  letter-spacing: 0.14rem;
}
.about .container .link span {
  border-bottom: 1px dashed #ccc;
  padding: 0.5rem 0;
}
.about .container .link span:hover {
  border-bottom: 1px solid $specialRed;
  cursor: pointer;
  color: $specialRed;
}
