.content {
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
}
.content .container {
  margin: 11rem auto 8rem;
  -webkit-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-align-self: center;
          align-self: center;
}
.content .container .link_under {
  padding: 0.5rem 0;
  transition: $transition;
  color: #545454;
  font-size: 2rem;
}
@media screen and (max-width: $ipad) {
  .content .container .link_under {
    font-size: 80%;
  }
}
@media screen and (max-width: $iphone5) {
  .content .container .link_under {
    font-size: 60%;
  }
}
.content .container .link_under:after {
  content: "";
  display: block;
  width: 100%;
  margin: 0.5rem auto;
  height: 1px;
  background-color: $darkgrey2;
  transition: $transition;
}
.content .container .link_under:hover {
  cursor: pointer;
  color: $specialRed;
}
.content .container .link_under:hover:after {
  width: 0%;
  background-color: $specialRed;
}
.content.in-cart .container {
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin: auto;
  height: 100%;
}
.content.in-cart .container .title {
  color: $lightgrey2;
  margin: 2rem auto;
  font-weight: 400;
}
.content.index-about .container {
  height: 100%;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  text-align: center;
  -webkit-justify-content: center;
          justify-content: center;
  min-height: 70rem;
  margin: auto;
}
.content.index-about .container .title {
  margin: 0 0 4rem;
  font-weight: 900;
  text-transform: uppercase;
  word-spacing: 0.3rem;
  line-height: 90%;
  transition: $transition;
}
.content.contact .container .office {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 2rem auto;
}
.content.contact .container .office address.vcard {
  margin: 2rem 0;
}
.content.contact .container .office address.vcard .hide {
  display: none;
}
.content.contact .container .office address.vcard .adr,
.content.contact .container .office address.vcard .call,
.content.contact .container .office address.vcard .info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.content.contact .container .office address.vcard .adr span:after,
.content.contact .container .office address.vcard .call span:after,
.content.contact .container .office address.vcard .info span:after,
.content.contact .container .office address.vcard .adr a:after,
.content.contact .container .office address.vcard .call a:after,
.content.contact .container .office address.vcard .info a:after {
  content: "";
  display: block;
  width: 100%;
  margin: 0.3rem auto;
  height: 1px;
  background-color: $lightgrey2;
  transition: $transition;
}
.content.contact .container .office address.vcard .adr .fax,
.content.contact .container .office address.vcard .call .fax,
.content.contact .container .office address.vcard .info .fax,
.content.contact .container .office address.vcard .adr .tel,
.content.contact .container .office address.vcard .call .tel,
.content.contact .container .office address.vcard .info .tel {
  display: inline-block;
  margin: 0 2rem;
}
.content.contact .container .office address.vcard .adr {
  font-size: 260%;
  font-weight: 500;
  line-height: 150%;
}
.content.contact .container .office address.vcard .call {
  -webkit-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-size: 160%;
}
.content.contact .container .office address.vcard .info {
  margin: 3rem;
  font-size: 160%;
}
.content.contact .container ul.office-tab {
  margin: 2rem auto;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
}
.content.contact .container ul.office-tab li {
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  white-space: nowrap;
  margin: 1rem;
}
.content.contact .container ul.forces {
  margin: 2rem auto;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
}
.content.contact .container ul.forces li {
  -webkit-flex: 1 0 50%;
          flex: 1 0 50%;
  min-width: 25%;
}
.content.contact .container ul.forces li .force-name {
  font-weight: 700;
  margin: 1rem 0;
}
.content.contact .container ul.forces li .force-address,
.content.contact .container ul.forces li .force-tel,
.content.contact .container ul.forces li .force-fax {
  font-weight: 300;
}

/*# sourceMappingURL=content.css.map */
