.footer {
  background-color: $footerbg;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .container .footer-slogan {
  width: 59rem;
}
.footer .container .footer-slogan .logo {
  max-height: 3rem;
  height: 100%;
}
.footer .container .footer-slogan .logo img {
  height: 100%;
}
.footer .container .footer-slogan header {
  font-size: 210%;
  margin-top: 2.6rem;
  line-height: 140%;
  font-weight: 500;
  color: $white;
}
.footer .container .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 620px) {
  .footer .container .footer-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer .container .footer-menu ul {
  min-width: 13.3rem;
  margin: 1.5rem 0 0 auto;
  padding: 0;
}
.footer .container .footer-menu ul li {
  line-height: 160%;
  font-size: 140%;
  font-weight: 500;
  color: $white;
}
.footer .container .footer-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 4rem;
}
.footer .container .footer-copy .footer-column {
  margin: 0 auto 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  font-weight: 500;
}
.footer .container .footer-copy .footer-column:last-child {
  margin: 0 auto 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .container .footer-copy .footer-column .button {
  margin: 0 2rem;
}
