.goal01 {
  background-color: $darkbg;
}
.goal01 .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 1600px;
  height: 90vh;
  min-height: 900px;
}
@media screen and (max-width: 620px) {
  .goal01 .container {
    height: 100vh;
  }
}
.goal01 .container:before {
  content: '01';
  color: #1a1a1a;
  font-weight: bold;
  position: absolute;
  top: 7rem;
  left: -5rem;
  font-size: 37rem;
  letter-spacing: 4rem;
}
@media screen and (max-width: 620px) {
  .goal01 .container:before {
    top: 20%;
  }
}
.goal01 .container:after {
  content: '';
  position: absolute;
  top: 3rem;
  right: -8rem;
  background: url("$goal01") no-repeat;
  background-size: contain;
  background-position: 100% 50%;
  height: 100%;
  max-width: 100%;
  width: 930px;
  z-index: 6;
}
@media screen and (min-width: 1500px) {
  .goal01 .container:after {
    width: 1080px;
  }
}
.goal01 .container .screener {
  font-weight: 500;
  padding: 10rem 0 0 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 70%;
  height: 100%;
}
@media screen and (max-width: 620px) {
  .goal01 .container .screener {
    max-width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 340px) {
  .goal01 .container .screener {
    font-weight: 400;
  }
}
.goal01 .container .screener h1 {
  font-weight: 600;
  font-size: 445%;
  line-height: 123%;
  letter-spacing: -0.13rem;
  margin: auto;
}
@media screen and (max-width: 620px) {
  .goal01 .container .screener h1 {
    margin: auto;
  }
}
@media screen and (max-width: 340px) {
  .goal01 .container .screener h1 {
    max-width: 100%;
    margin: 12rem 0 0 0;
  }
}
.goal01 .container .screener .button {
  margin: 4rem 0 5rem 0;
}
