.header {
  position: absolute;
  z-index: 10;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  color: $white;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .container .header-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 20px 0;
}
.header .container .header-column .hamburger {
  display: none;
}
@media screen and (max-width: 620px) {
  .header .container .header-column.menu {
    min-width: 100%;
  }
}
.header .container .header-column:first-child,
.header .container .header-column:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 310px;
}
.header .container .header-column:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 620px) {
  .header .container .header-column:last-child {
    min-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 640px) {
  .header .container .header-column:last-child,
  .header .container .header-column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}
.header .container .header-column .top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 2em;
}
.header .container .header-column .top_menu li {
  padding: 0 5px;
}
.header .container .header-column .header-location {
  margin: 0 2em 0 15%;
  color: #626262;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .container .header-column .header-location img {
  margin: 0 0.5rem;
}
.header .container .header-column .header-location span.name {
  font-size: 75%;
}
.header .container .header-column .top_cart {
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .container .header-column .top_cart .cart-img {
  background-color: $specialRed;
  border-radius: 50%;
  padding: 0.8rem;
  margin: 0.5rem;
}
.header .container .header-column .top_cart .cart-img img {
  -webkit-filter: brightness(10);
          filter: brightness(10);
}
@media screen and (max-width: 480px) {
  .header.active {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d7d7d7;
    z-index: 100;
    padding: 2rem 4rem;
    font-size: 345%;
  }
  .header.active * {
    text-transform: none;
  }
  .header.active .header-column {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header.active .header-column .hamburger {
    display: block;
  }
  .header.active .header-column:first-child {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header.active .header-column:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 3rem 0;
  }
  .header.active .header-column.menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header.active .header-column .top_menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .header.active .header-column .top_menu li {
    width: 100%;
  }
  .header.active .header-column .header-logo {
    display: none;
  }
  .header.active .header-column .header-location {
    margin-right: auto;
    margin-left: 0;
  }
}
