.header {
  position: absolute;
  top: 0rem;
  z-index: 10;
  font-weight: 600;
  color: #262626;
}
@media screen and (min-width: $ipad) {
  .header {
    top: 1rem;
  }
}
.header.white_header {
  color: $white;
}
.header .container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  min-height: 10em;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
          justify-content: center;
}
.header .container .header-column {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 1rem 0;
  min-height: 4rem;
}
.header .container .header-column .hamburger .hamburger-inner {
  transition: $transition;
  background-color: $specialRed;
}
.header .container .header-column .hamburger .hamburger-inner:before,
.header .container .header-column .hamburger .hamburger-inner:after {
  transition: $transition;
  background-color: $specialRed;
}
@media screen and (max-width: $desktop) {
  .header .container .header-column .hamburger {
    top: 1rem;
  }
}
@media screen and (min-width: $desktop) {
  .header .container .header-column .hamburger {
    display: none;
  }
}
.header .container .header-column .hamburger:hover .hamburger-inner {
  background-color: $white;
}
.header .container .header-column .hamburger:hover .hamburger-inner:before,
.header .container .header-column .hamburger:hover .hamburger-inner:after {
  background-color: $white;
}
@media screen and (max-width: $desktop) {
  .header .container .header-column.menu {
    min-width: 100%;
  }
}
.header .container .header-column.menu a {
  transition: $transition;
}
.header .container .header-column.menu a:hover {
  color: $specialRed;
}
.header .container .header-column:first-child,
.header .container .header-column:last-child {
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 310px;
}
.header .container .header-column:last-child {
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}
@media screen and (max-width: $ipad) {
  .header .container .header-column:last-child {
    min-width: 100%;
    -webkit-justify-content: center;
            justify-content: center;
  }
}
.header .container .header-column.top_social {
  display: none;
}
.header .container .header-column .top_menu {
  display: -webkit-flex;
  display: flex;
  padding: 0;
  font-weight: 400;
  width: 100%;
  -webkit-justify-content: center;
          justify-content: center;
  margin: 0 2em;
}
.header .container .header-column .top_menu li {
  font-size: 21px;
  font-weight: 400;
  margin: 0 1rem;
  min-width: 100px;
  text-align: center;
  transition: $transition;
}
.header .container .header-column .location {
  margin: 0 auto 0 3rem;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;
  cursor: pointer;
  top: 4px;
}
@media screen and (max-width: $ipad) {
  .header .container .header-column .location {
    display: none;
  }
}
.header .container .header-column .location img {
  margin: 0 0.5rem;
  width: 16px;
}
.header .container .header-column .location span {
  font-size: 85%;
  font-weight: 300;
  transition: $transition;
}
.header .container .header-column .location:hover span {
  color: $specialRed;
}
.header .container .header-column.serv {
  -webkit-flex: 0 0 220px;
          flex: 0 0 220px;
}
.header .container .header-column.cart {
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 0 220px;
          flex: 0 0 220px;
}
.header .container .header-column.cart .top_cart {
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}
.header .container .header-column.cart .top_cart span {
  font-size: 129%;
  font-weight: 400;
  transition: $transition;
  top: 1px;
}
.header .container .header-column.cart .top_cart .cart-img {
  margin: 1.3rem 1rem 1.3rem 1rem;
}
.header .container .header-column.cart .top_cart .cart-img img {
  width: 20px;
  margin: auto;
}
.header .container .header-column.cart .top_cart:hover {
  cursor: pointer;
}
.header .container .header-column.cart .top_cart:hover span {
  color: $specialRed;
}
@media screen and (max-width: $desktop) {
  .header .container {
    -webkit-align-items: flex-start;
            align-items: flex-start;
    margin-top: 1rem;
    overflow: auto;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .header .container .header-column.menu,
  .header .container .header-column.cart {
    display: none;
  }
  .header .container .header-column:first-child {
    margin: 0;
    min-width: 100%;
    -webkit-flex: 0;
            flex: 0;
  }
  .header.mobile-menu-active {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #d7d7d7;
    z-index: 100;
    overflow: auto;
    top: 0;
    transition: 0.1s ease-out;
    padding: 2rem;
  }
  .header.mobile-menu-active .container {
    min-height: 100%;
    margin: 0;
  }
  .header.mobile-menu-active .header-column {
    max-width: 100%;
    -webkit-flex: 1;
            flex: 1;
  }
  .header.mobile-menu-active .header-column.menu,
  .header.mobile-menu-active .header-column.cart {
    display: block;
  }
  .header.mobile-menu-active .header-column .hamburger {
    display: block;
  }
  .header.mobile-menu-active .header-column .hamburger .hamburger-inner {
    background-color: $specialRed;
  }
  .header.mobile-menu-active .header-column .hamburger .hamburger-inner:before,
  .header.mobile-menu-active .header-column .hamburger .hamburger-inner:after {
    background-color: $specialRed;
  }
  .header.mobile-menu-active .header-column:last-child {
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    margin: 3rem 0;
  }
  .header.mobile-menu-active .header-column.serv {
    top: 0;
    -webkit-align-items: flex-start;
            align-items: flex-start;
  }
  .header.mobile-menu-active .header-column.serv .hamburger {
    top: 2rem;
    right: 2rem;
    padding: 0;
  }
  .header.mobile-menu-active .header-column.menu {
    display: -webkit-flex;
    display: flex;
    margin: 0 0 auto;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .header.mobile-menu-active .header-column.menu .top_menu {
    margin: 0;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .header.mobile-menu-active .header-column.menu .top_menu li {
    margin: 0;
  }
  .header.mobile-menu-active .header-column.menu .top_menu li a {
    display: -webkit-flex;
    display: flex;
    font-size: 470%;
    line-height: 120%;
    font-weight: 600;
    width: 100%;
    margin: 0;
    text-align: left;
    color: $darkgrey;
  }
  .header.mobile-menu-active .header-column.menu .top_menu li a:hover {
    color: $specialRed;
  }
  .header.mobile-menu-active .header-column .location span {
    color: $darkgrey;
    font-weight: 600;
  }
  .header.mobile-menu-active .header-column.cart {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-flex: 0;
            flex: 0;
    margin: 1rem 0 2rem;
  }
  .header.mobile-menu-active .header-column.cart .top_cart {
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header.mobile-menu-active .header-column.cart .top_cart span {
    font-size: 500%;
    font-weight: 600;
    color: $darkgrey;
    line-height: 100%;
  }
  .header.mobile-menu-active .header-column.cart .top_cart span:hover {
    color: #fff;
  }
  .header.mobile-menu-active .header-column.cart .top_cart .cart-img {
    margin: 0 0.5rem !important;
  }
  .header.mobile-menu-active .header-column.top_social {
    display: -webkit-flex;
    display: flex;
    -webkit-order: 4;
            order: 4;
    min-width: 20rem;
    margin: 0;
    -webkit-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-align-items: flex-end;
            align-items: flex-end;
  }
  .header.mobile-menu-active .header-column.top_social ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
            flex-flow: column wrap;
    padding: 0;
    font-weight: 600;
    padding: 0;
  }
  .header.mobile-menu-active .header-column.top_social ul li a {
    font-size: 300%;
    font-weight: 600;
    line-height: 140%;
    transition: $transition;
    color: $darkgrey;
  }
  .header.mobile-menu-active .header-column.top_social ul li a:hover {
    color: #fff;
  }
  .header.mobile-menu-active .header-column .logo {
    display: none;
  }
  .header.mobile-menu-active .header-column .location {
    display: block;
    margin-right: auto;
    margin-left: 0;
  }
  .header.mobile-menu-active .header-column .location img {
    margin-left: 0;
  }
}
@media screen and (max-width: $desktop) and (max-width: $iphone6) {
  .header a {
    font-size: 40px !important;
    line-height: 150% !important;
  }
}
@media screen and (max-width: $desktop) and (max-width: $iphone6) {
  .header .location span {
    font-size: 20px !important;
  }
}
@media screen and (max-width: $desktop) and (max-width: $iphone6) {
  .header span {
    font-size: 40px !important;
  }
}
@media screen and (max-width: $desktop) and (max-width: $iphone6) {
  .header a {
    font-size: 26px !important;
    line-height: 110% !important;
  }
}
@media all and (orientation: landscape) {
  .mobile-menu-active .top_social {
    position: absolute !important;
    right: 2rem !important;
    bottom: 2rem !important;
  }
  .mobile-menu-active .top_social ul {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .mobile-menu-active .cart {
    margin: 2.5rem 0;
    -webkit-align-items: flex-end !important;
            align-items: flex-end !important;
  }
  .mobile-menu-active .menu {
    -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

/*# sourceMappingURL=header.css.map */
