.header {
  position: absolute;
  z-index: 10;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: $white;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10em;
  flex-wrap: wrap;
  justify-content: center;
}
.header .container .top_social {
  display: none;
}
.header .container .header-column {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  margin: 1rem 0;
  min-height: 61px;
}
@media screen and (min-width: 580px) {
  .header .container .header-column .hamburger {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .header .container .header-column .hamburger .hamburger-inner {
    background-color: #fff;
  }
  .header .container .header-column .hamburger .hamburger-inner:before,
  .header .container .header-column .hamburger .hamburger-inner:after {
    background-color: #fff;
  }
}
@media screen and (max-width: 620px) {
  .header .container .header-column.menu {
    min-width: 100%;
  }
}
.header .container .header-column.menu li:hover {
  color: $specialRed;
  cursor: pointer;
}
.header .container .header-column:first-child,
.header .container .header-column:last-child {
  flex: 1 0 auto;
  max-width: 310px;
}
.header .container .header-column:last-child {
  justify-content: flex-end;
}
@media screen and (max-width: 620px) {
  .header .container .header-column:last-child {
    min-width: 100%;
    justify-content: center;
  }
}
.header .container .header-column .top_menu {
  display: flex;
  padding: 0;
  font-weight: 400;
  width: 100%;
  justify-content: space-around;
  margin: 0 2em;
}
.header .container .header-column .top_menu li {
  font-size: 140%;
  font-weight: 400;
  margin: 0 0.3rem;
}
.header .container .header-column .location {
  margin: 0 auto 0 3rem;
  color: #626262;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.header .container .header-column .location img {
  margin: 0 0.5rem;
  width: 16px;
}
.header .container .header-column .location span.name {
  font-size: 85%;
  color: $white;
  font-weight: 300;
}
@media screen and (max-width: 580px) {
  .header .container .header-column .location {
    margin: 0 auto 0 1rem;
  }
  .header .container .header-column .location img {
    display: none;
  }
}
.header .container .header-column.cart {
  justify-content: flex-end;
}
.header .container .header-column.cart .top_cart {
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header .container .header-column.cart .top_cart .cart-img {
  margin: 1.3rem 0.7rem 1.3rem 2rem;
}
.header .container .header-column.cart .top_cart .cart-img img {
  width: 20px;
}
.header .container .header-column.cart .top_cart span {
  font-size: 130%;
  font-weight: 400;
}
@media screen and (max-width: 580px) {
  .header .container {
    align-items: flex-start;
    margin-top: 1rem;
    overflow: auto;
    justify-content: flex-start;
    height: 100%;
  }
  .header .container .header-column.menu,
  .header .container .header-column.cart {
    display: none;
  }
  .header .container .header-column:first-child {
    margin: 0;
    min-width: 100%;
  }
  .header.mobile-menu-active {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #d7d7d7;
    z-index: 100;
    padding: 0 3rem;
    font-size: 145%;
    overflow: auto;
  }
  .header.mobile-menu-active * {
    text-transform: none;
  }
  .header.mobile-menu-active .top_social {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 100%;
    font-weight: 600;
    order: 4;
    padding: 0;
    margin: auto 0 3rem 0;
    color: #000;
  }
  .header.mobile-menu-active .top_social li:hover {
    color: #fff;
  }
  .header.mobile-menu-active .header-column {
    max-width: 100%;
    flex: 1;
  }
  .header.mobile-menu-active .header-column.menu,
  .header.mobile-menu-active .header-column.cart {
    display: block;
  }
  .header.mobile-menu-active .header-column .hamburger {
    display: block;
  }
  .header.mobile-menu-active .header-column .hamburger .hamburger-inner {
    background-color: #333;
  }
  .header.mobile-menu-active .header-column .hamburger .hamburger-inner:before,
  .header.mobile-menu-active .header-column .hamburger .hamburger-inner:after {
    background-color: #333;
  }
  .header.mobile-menu-active .header-column:first-child {
    max-width: 100%;
    flex: 1;
  }
  .header.mobile-menu-active .header-column:last-child {
    justify-content: flex-start;
    margin: 3rem 0;
  }
  .header.mobile-menu-active .header-column.menu {
    order: 3;
    margin: auto 0;
  }
  .header.mobile-menu-active .header-column.cart .top_menu {
    flex-wrap: wrap;
    margin: 0;
    justify-content: flex-start;
  }
  .header.mobile-menu-active .header-column.cart .top_menu li {
    width: 100%;
    line-height: 120%;
  }
  .header.mobile-menu-active .header-column.cart .top_menu li:hover {
    color: #fff;
  }
  .header.mobile-menu-active .header-column .top_cart {
    justify-content: flex-start;
  }
  .header.mobile-menu-active .header-column .top_cart span:hover {
    color: #fff;
  }
  .header.mobile-menu-active .header-column .logo {
    display: none;
  }
  .header.mobile-menu-active .header-column .header-location {
    margin-right: auto;
    margin-left: 0;
  }
  .header.mobile-menu-active .header-column .header-location img {
    display: block;
  }
  .header.mobile-menu-active .header-column.menu *,
  .header.mobile-menu-active .header-column.cart * {
    color: #000;
  }
  .header.mobile-menu-active .header-column.menu .top_menu {
    font-size: 200%;
    margin: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .header.mobile-menu-active .header-column.menu .top_menu li {
    width: 100%;
  }
  .header.mobile-menu-active .header-column.cart {
    font-size: 130%;
    margin: 0;
  }
}
