block footer
	section.footer
		.container
			.footer-title 
				h6.footer-slogan.slide_up_text
					div(style="float: left")
						span Take&nbsp;
					div
						span Control.

			.footer-menu
				ul.slide_up_text
					li
						span
							a(href="about.html") About
					li
						span
							a(href="products.html") Products
					li
						span
							a(href="help.html") Help
					li
						span
							a(href="contact.html") Contact
				ul.footer-social.slide_up_text
					li
						span 
							a(href="https://www.youtube.com/user/GuardsmanGroup/", target="_blank") YouTube
					li
						span 
							a(href="https://www.facebook.com/GuardsmanGroup", target="_blank") Facebook
					li
						span 
							a(href="https://twitter.com/guardsmangroup", target="_blank") Twitter
					li
						span 
							a(href="http://gplus.to/guardsmangroup", target="_blank") Google Plus
		.container
			.footer-copy
				.copy 2017 © Guardsman Limited.
				.footer-column.footer-button
					button.right.red
						a.button_inner(href="products.html")
							.arrows
							.message Products