block footer
	section.footer
		.container
			.footer-title 
				h6.footer-slogan.slide_up_text
					div
						span Best security
					div
						span for home &
					div
						span business. 

			.footer-menu
				ul.slide_up_text
					li
						span
							a(href="about.html") About
					li
						span
							a(href="products.html") Products
					li
						span
							a(href="help.html") Help
					li
						span
							a(href="contact.html") Contact
				ul.slide_up_text
					li
						span 
							a(href="https://www.youtube.com/user/GuardsmanGroup/", target="_blank") YouTube
					li
						span 
							a(href="https://www.facebook.com/GuardsmanGroup", target="_blank") Facebook
					li
						span 
							a(href="https://twitter.com/guardsmangroup", target="_blank") Twitter
					li
						span 
							a(href="http://gplus.to/guardsmangroup", target="_blank") Google Plus
		.container
			.footer-copy
				.copy &copy;2017 Copyright. All rights reserved
				.footer-column.footer-button
					button.right.red
						.button_inner
							.arrows
							.message View products