section.header
	.container
		.column.serv
			.logo 
				a(href="index.html")
					img(src="images/icon_logo.svg", alt="LOGOTYPE")
			.location.location_toggle 
				img(src="images/icon_marker.svg", alt="Location") 
				span Jamaica
		.column.menu
			ul.top_menu.slide_up_text
				li
					span
						a(href="about.html") About
				li
					span
						a(href="products.html") Products
				li
					span
						a(href="help.html") Help
				li
					span
						a(href="contact.html") Contact
		.column.feedback
			.feedback_container 
				a.inner(href="feedback.html")
					img(src="images/icon_cart.svg", alt="Cart")
					span Free Quote 
