section.mobile_menu
	.container
			.location.location_toggle 
				a 
					img(src="images/icon_marker.svg", alt="Location") 
					span Jamaica

			ul.mobile_menu_list.slide_up_text
				li
					span
						a(href="about.html") About
				li
					span
						a(href="products.html") Products
				li
					span
						a(href="help.html") Help
				li
					span
						a(href="contact.html") Contact
				li
					span
						a(href="cart.html") Cart

			ul.mobile_social_list.slide_up_text
				li
					span
						a(href="https://www.youtube.com/user/GuardsmanGroup/", target="_blank") YouTube
				li
					span
						a(href="https://www.facebook.com/GuardsmanGroup", target="_blank") Facebook
				li
					span
						a(href="https://twitter.com/guardsmangroup", target="_blank") Twitter
				li
					span
						a(href="http://gplus.to/guardsmangroup", target="_blank") Google Plus
