section.mobile_menu
	.container
			.location.location_toggle 
				img(src="images/icon_marker.svg", alt="Location") 
				span Jamaica

			ul.mobile_menu_list.slide_up_text
				li
					span
						a(href="about.html") About
				li
					span
						a(href="products.html") Products
				li
					span
						a(href="help.html") Help
				li
					span
						a(href="contact.html") Contact
			ul.mobile_menu_cart
				li.cart_container 
					a.inner(href="cart.html")
						img(src="images/icon_cart.svg", alt="Cart")
						span Cart 

