extends assets/layout.pug
block content
	section.content
		.container
			h1 ABOUT
			h1 We work hard to 
			h2 bring you the
			h3 real quality
			h4 Best security
			h5 services for home
			h6 & business. 
			p Thank you!
	