extends layout-blocks/layout
block content
	section.about
		.container
			h1 HELP
			h1 We work hard to 
			h2 bring you the
			h3 real quality
			h4 Best security
			h5 services for home
			h6 & business. 
			p Thank you!
	