extends assets/layout.pug
block content
	section.content.in-cart
		.container.cart-inner
			ul.accordion_items.slide_up_text
				.product_count 3 products in cart
				li.product
					span
						.edit
						.delete
						header Garage door
						main
							.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum beatae ratione blanditiis, necessitatibus nesciunt alias consequuntur dolor iste nulla officia.
							ul.items
								li
									.header Alartms type
									.name Wireless
								li
									.header Products included
									.name Central monitoring
								li 
									.header Files attached
									.name some_file.pdf
				li.product
					span
						.edit
						.delete
						header Alarms
						main
							.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum beatae ratione blanditiis, necessitatibus nesciunt alias consequuntur dolor iste nulla officia.
							ul.items
								li
									.header Alartms type
									.name Wireless
								li
									.header Products included
									.name Central monitoring
								li 
									.header Files attached
									.name some_file.pdf
				li.product
					span
						.edit
						.delete
						header Personal protection
						main
							.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum beatae ratione blanditiis, necessitatibus nesciunt alias consequuntur dolor iste nulla officia.
							ul.items
								li
									.header Alartms type
									.name Wireless
								li
									.header Products included
									.name Central monitoring
								li 
									.header Files attached
									.name some_file.pdf

			button.blank
				.message Free quote

			.steps_buttons
				button.left.grey
					.button_inner(onclick="window.history.go(-1); return false;")
						.arrows
						.message Back


				button.right.red
					.button_inner
						.arrows
						.message Make order

		.container.is-empty
			h3.title.slide_up_text 
				div
					span Cart is empty
			.link_under
				a(href="products.html") Products
