extends assets/layout.pug
block content
	section.content.contact
		.container
			ul.office-tab.slide_up_text
				li
					span
						a Kingston
				li
					span
						a Montego Bay
				li
					span
						a May Pen
				li
					span
						a Negril
				li
					span
						a Mandeville
			.office
				address.vcard
					.hide
						a.url(href="http://www.guardsmangroup.com")
							img.photo(src="images/icon_logo.svg")
						.url http://www.guardsmangroup.com
						.org Guardsman Group
						div
							span.category Security
							span.category guard
							span.category ervices
					h3.title MAIN OFFICE 
					a(href="https://www.google.ru/maps/place/Guardsman+Group+Ltd./@18.0161133,-76.773802,17z/data=!4m8!1m2!3m1!2sGuardsman+Group+Ltd.!3m4!1s0x0:0xe6b8889eb201591f!8m2!3d18.0161131!4d-76.7716134", target="_blank")
						.adr 
							span.street-address 107 Old Hope Road
							div.location
								span.locality Kingston
								span.region 6 Jamaica W.I.
							span.country-name Jamaica
					.info
						a.email(href="mailto:info@guardsmangroup.com") info@guardsmangroup.com
					.call
						a.tel(href="tel:+1-876-978-5760") (876) 978-5760
						a.tel(href="tel:+1-876-978-5760") (876) 927-6613
						span.fax FAX (876) 927-7539
						

				address.vcard
					.adr
						span.street-address Lot 1219 Ironshore, Industrial Estate 
						div.location
							span.locality Montego Bay
							span.region Ironshore
						span.country-name Jamaica
					.info
						a.email(href="mailto:info@guardsmangroup.com") info@guardsmangroup.com
					.call
						span.tel(href="tel:+1-876-978-5760") (876) 953-3400
						span.tel(href="tel:+1-876-978-5760") (876) 953-2944
						span.tel (876) 953-9709
						span.fax (876) 953-3385

				address.vcard
					.adr
						span.street-address 55a Manchester Avenue, Industrial Estate 
						div.location
							span.locality May Pen
							span.region Clarendon
						span.country-name Jamaica
					.info
						a.email(href="mailto:info@guardsmangroup.com") info@guardsmangroup.com
					.call
						span.tel(href="tel:+1-876-978-5760") (876)986-2765
						span.fax (876)902-6762

				address.vcard
					.adr
						span.street-address Monte Vista 
						div.location
							span.locality Nompriel Road
							span.region Sheffield
						span.country-name Jamaica
					.info
						a.email(href="mailto:info@guardsmangroup.com") info@guardsmangroup.com
					.call
						span.tel(href="tel:+1-876-978-5760") (876) 957-9183
						span.tel(href="tel:+1-876-978-5760") (876) 957-3924
						span.fax (876) 957-9027

				address.vcard
					.adr
						span.street-address 84 Manchester Road
						span.locality 
						span.region 
						span.country-name Jamaica
					.info
						a.email(href="mailto:info@guardsmangroup.com") info@guardsmangroup.com
					.call
						span.tel(href="tel:+1-876-978-5760") (876) 962-2369
						span.fax (876) 962-0682

			


			.social
				h4.slogan.slide_up_text
					span Work with us
					span or just follow
				
				ul.links.slide_up_text
					li
						span 
							a(href="https://www.youtube.com/user/GuardsmanGroup/", target="_blank") YouTube
					li
						span 
							a(href="https://www.facebook.com/GuardsmanGroup", target="_blank") Facebook
					li
						span 
							a(href="https://twitter.com/guardsmangroup", target="_blank") Twitter
					li
						span 
							a(href="http://gplus.to/guardsmangroup", target="_blank") Google Plus

			ul.forces
				li
					span
						.force-name Guardsman Alarms
						.force-adress 6 Carvalho Drive, Kingston 10
						.force-tel Tel: (876) 929-6847, (876) 929-3299, (876) 926-1938
						.force-fax Fax: (876) 968-3038
				li
					span
						.force-name Guardsman Armoured
						.force-adress 1-7 South Camp Road, Kingston, CSO
						.force-tel Tel: (876) 928-9005 – 7, (876) 928-4947-9
						.force-fax Fax: (876) 928-2063 – Operations, (876) 928-9003 – Administration
				li
					span
						.force-name Guardsman Limited
						.force-adress 2-6 Emmaville Crescent, Kingston CSO, Jamaica W.I.
						.force-tel Tel: (876) 928-2246, (876) 928-5285, (876) 928-2641
						.force-fax Fax: (876) 928-5936
				li
					span
						.force-name Marksman
						.force-adress 14-16 Balmoral Ave, Kingston 10, Jamaica W.I.
						.force-tel Tel: (876) 926-3600, (876) 926-0440, (876) 929-2228
						.force-fax Fax: (876) 929-6138