extends assets/layout.pug
block content
	section.content.help
		.container
			ul.faq.slide_up_text
				li
					span
						header How to make an order?
						main Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora neque, rerum inventore enim aliquid molestias?
				li
					span
						header How to robber the bank
						main Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad repudiandae esse recusandae, omnis necessitatibus ipsa ut sequi vel delectus deleniti quos consequuntur error, voluptates veritatis, saepe quis illo enim numquam vero commodi, nobis hic. Ducimus aspernatur laudantium quam? Consequatur nobis corporis fuga dicta pariatur esse explicabo commodi sunt nesciunt consequuntur consectetur accusamus sit suscipit fugit maxime, ducimus amet quam officiis error provident natus doloremque culpa eligendi, molestiae aliquam! Enim nihil culpa quia, provident libero nesciunt velit omnis vero saepe quod!
				li
					span
						header Facilis magnam, neque at repudiandae
						main Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi officiis nisi maxime quas explicabo officia itaque nihil voluptatibus velit, quo dolore quae, quidem illum tempore dolor provident, quis expedita at nostrum ad. .
				li
					span
						header How to get something...
						main Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum error laboriosam quia perferendis deserunt saepe velit, repellat aliquid minus ratione.
