extends assets/layout.pug
block content
	section.content.help
		.container
			ul.faq.slide_up_text
				li
					span
						header How to make an order?
						main  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum error laboriosam quia perferendis deserunt saepe velit, repellat aliquid minus ratione.
				li
					span
						header How to get something...
						main  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum error laboriosam quia perferendis deserunt saepe velit, repellat aliquid minus ratione.
				li
					span
						header How to make an order?
						main  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum error laboriosam quia perferendis deserunt saepe velit, repellat aliquid minus ratione.
				li
					span
						header How to get something...
						main  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum error laboriosam quia perferendis deserunt saepe velit, repellat aliquid minus ratione.
				li
					span
						header How to make an order?
						main  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum error laboriosam quia perferendis deserunt saepe velit, repellat aliquid minus ratione.
				li
					span
						header How to get something...
						main  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum error laboriosam quia perferendis deserunt saepe velit, repellat aliquid minus ratione.
