extends layout-blocks/layout
block content
	section.header
		.container
			.header-column
				.logo 
					img(src="images/header_logo.png", alt="LOGOTYPE")
				.location 
					img(src="images/header_pin.png", alt="Location") 
					span.name Jamaica
				button#hamburger.hamburger.hamburger--minus
					span.hamburger-box
						span.hamburger-inner
			.header-column.menu
				ul.top_menu
					li About
					li Products
					li Help
					li Contact
			.header-column.cart
				.top_cart 
					.cart-img
						img(src="images/header_cart.png", alt="Cart") 
					span Cart
			ul.top_social
				li Facebook
				li Google+
				li Odnoklassniki
				li somelse


	section.hero
		.container
			.screener
				h1 Best security <br> services for home <br> & business. 
				.button
					span View products

	section.about
		.container
			h1 We work hard to <br> bring you the real quality
			.link
				span Our story

	section.footer
		.container
			.footer-slogan 
				.logo
					img(src="images/header_logo.png", alt="LOGOTYPE")
				header Best security<br>for home & <br>business. 

			.footer-menu
				ul 
					li About
					li Products
					li Help
					li Contact
				ul 
					li Youtube
					li Facebook
					li Twitter
					li Google Plus
		.container
			.footer-copy
				.footer-column &copy;2017 Copyright. All rights reserved
				.footer-column 
					.button 
						span View products