extends layout-blocks/layout
block content
	section.header.active
		.container
			.header-column
				.header-logo 
					img(src="images/header_logo.png", alt="LOGOTYPE")
				.header-location 
					img(src="images/header_pin.png", alt="Location") 
					span.name Jamaica
				button.hamburger.hamburger--minus.is-active
					span.hamburger-box
						span.hamburger-inner
			.header-column.menu
				ul.top_menu
					li About
					li Products
					li Help
					li Contact
			.header-column
				.top_cart 
					.cart-img
						img(src="images/header_cart.png", alt="Cart") 
					span Cart


	section.goal01
		.container
			.screener
				h1 Best security <br> services for home <br> and business. 
				.button.red 
					span View products

	section.goal02
		.container
			h1 What we provide
			.columns
				.left We work hard to<br>make you get the<br>best quality.
				.right
					ul.list
						li.item
							header Guardsman Alarms
							ul.inner 
								li Alarms & detection
								li Access control
								li CCTV systems
								li Monitoring
								li Technical support
								li Vehicle tracking
								li ID services

						li.item
							header Guardsman Limited
							ul.inner 
								li Armed & unarmed guards
								li Canine training & handling
								li Security consultation
								li 24-hour mobile patrols
								li Personal protection
								li Detective services
								li CCTV agents
								li Late bag delivery
						li.item
							header Guardsman Armoured
							ul.inner 
								li Cash-in-transit service
								li Vaulting & monitoring
								li Cash & deposit processing
								li Payroll processing
								li ATM services
								li Repatriation services
						li.item
							header Guardsman Elite
							ul.inner 
								li Background checks
								li Polygraph examinations
								li Investigations
								li Security surveys & audits
								li Covert surveillance
								li Personal close protection
								li Event security
								li Executive driving service
						li.item
							header Marksman
							ul.inner
								li Guards & canine handlers
								li Investigative services
								li Secutiry consultation
								li Aviation & report security
								li Hotel & resort security
						li.item &nbsp;



	section.goal03
		.container
			h1 How we make<br>the world safer.
			.button.red 
				span Our story

	section.footer
		.container
			.footer-slogan 
				.logo
					img(src="images/header_logo.png", alt="LOGOTYPE")
				header Best security<br>for home and <br>business. 

			.footer-menu
				ul 
					li About
					li Products
					li Help
					li Contact
				ul 
					li Youtube
					li Facebook
					li Twitter
					li Google Plus
		.container
			.footer-copy
				.footer-column &copy;2017 Copyright. All rights reserved
				.footer-column 
					.button.red 
						span View products