extends assets/layout.pug
block content
	section.hero
		.container
			.screener
				.title.slide_up_text 
					div
						span Peace of mind.
					div
						span Constant security. 
					div.takecontrol
						span Take Control. 

				button.center.red
					a.button_inner(href="products.html")
						.arrows
						.message View products

	section.content.index-about
		.container
			.title.slide_up_text
				div
					span We work hard 
				div
					span To bring you 
				div
					span The real quality 
			.link_under
				a(href="about.html") Our story
	