extends assets/layout.pug
block content
	section.hero
		.container
			.screener
				h1.slide_up_text 
					div
						span Best 
					div
						span security 
					div
						span services
				.button.right
					span View products

	section.content.index-about
		.container
			h3.title.slide_up_text
				div
					span We work hard 
				div
					span To bring you 
				div
					span The real quality 
			.link_under
				a(href="about.html") Our story
	