extends layout-blocks/layout
block content
	section.hero
		.container
			.screener
				h1 Best security <br> services for home <br> & business. 
				.button
					span View products

	section.about
		.container
			h3.title We work hard to <br> bring you the real quality
			h6.link
				span Our story
	