extends layout-blocks/layout
block content
	section.hero
		.container
			.screener
				h1 
					span Best 
					span security 
					span services
				.button.right
					span View products

	section.content.about
		.container
			h3.title 
				span We work hard 
				span To bring you 
				span The real quality 
			h6.link_under
				a(href="about.html") Our story
	