extends layout-blocks/layout
block content
	section.hero
		.container
			.screener
				h1
					div.slide_up_text 
						span Best 
					div.slide_up_text
						span security 
					div.slide_up_text 
						span services
				.button
					span View products

	section.content.about
		.container
			h3.title
				div.slide_up_text
					span We work hard 
				div.slide_up_text
					span To bring you 
				div.slide_up_text
					span The real quality 
			h6.link_under
				a(href="about.html") Our story
	