extends assets/layout.pug
block content
	section.content.product-inner
		.container
			h1.title Alarms
			ul.accordion_items.slide_up_text
				li
					span
						header Product info
						main
							.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum beatae ratione blanditiis, necessitatibus nesciunt alias consequuntur dolor iste nulla officia.
				li
					span
						header Additional products
						main
							.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum beatae ratione blanditiis, necessitatibus nesciunt alias consequuntur dolor iste nulla officia.
				li
					span
						header Files
						main
							.description some_file.file (download)

			.steps_buttons
				button.left.grey
					.button_inner
						.arrows
						.message Back
				button.blank
					.message Get free quote

				button.right.red
					.button_inner
						.arrows
						.message Make order