extends assets/layout.pug
block content
	section.content.product-inner
		.container
			h1.title Alarms
			ul.accordion_items.slide_up_text
				li
					span
						header.active Product info
						main
							.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum beatae ratione blanditiis, necessitatibus nesciunt alias consequuntur dolor iste nulla officia.
				li
					span
						header Additional products
						span.add.null 0
						main
							.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum beatae ratione blanditiis, necessitatibus nesciunt alias consequuntur dolor iste nulla officia.
				li
					span
						header Files 
						span.add 1
						main
							.description some_file.file (download)
				li
					span
						header Get free quote 
						main
							.description some thing . . .



			.steps_buttons
				button.left.grey
					.button_inner
						.arrows
						.message Back

				button.right.red
					.button_inner
						.arrows
						.message Add to cart