extends assets/layout.pug
block content
	section.content
		.container
			h1 PRODUCTS
			h1 We work hard to 
			h2 bring you the
			h3 real quality
			
			.button.right.red
				.button_inner
					.arrows
					.message Right Red
			br
			.button.center.red
				.button_inner
					.arrows
					.message Center
			br
			.button.right.grey
				.button_inner
					.arrows
					.message Right Grey
			br
			.button.left.grey
				.button_inner
					.arrows
					.message Left Grey
			br
			.button.center.grey
				.button_inner
					.arrows
					.message Center
			br
			.button.center.blue
				.button_inner
					.arrows
					.message Blue Center
			br
			.button.right.green
				.button_inner
					.arrows
					.message Right Green

	