extends assets/layout.pug
block content
	section.content
		.container
			h1 PRODUCTS
			h1 We work hard to 
			h2 bring you the
			h3 real quality
			
			.button.right.red
				.button_inner
					.arrows
					.message Right Red
			.button.center.red
				.button_inner
					.arrows
					.message Center
			.button.right.grey
				.button_inner
					.arrows
					.message Right Grey
			.button.left.grey
				.button_inner
					.arrows
					.message Left Grey
			.button.center.grey
				.button_inner
					.arrows
					.message Center

			.button.left.grey
				.button_inner
					.arrows
					.message Right Grey
			.button.left.grey
				.button_inner
					.arrows
					.message Right Grey
	