extends assets/layout.pug
block content
	section.content.product
		.container
			ul.product-list.slide_up_text
				li
					span
						a(href="product-inner.html") Guardsman Group
				li
					span
						a(href="product-inner.html") Guardsman Alarms
				li
					span
						a(href="product-inner.html") Guardsman Limited
				li
					span
						a(href="product-inner.html") Guardsman Armoured
				li
					span
						a(href="product-inner.html") Marksman
				li
					span
						a(href="product-inner.html") Guardsman Elite