$min-font = 25px
$max-font = 65px
$min-width = $iphone5
$max-width = 1200px

$mainfont = 'Roboto', 'sans-serif'
$line-height-ratio = $golden
$heading-ratio = $golden
$body-font = $mainfont
$body-font-weight = 300
$body-color = #1d1e1e
$heading-font = $mainfont
$vertical-rhythm = true
$specialRed = #cb1d00
$white = #FFF
$darkgrey = #242424
$darkgrey2 = #545454
$darkhover = #2d2d2d

$lightgrey = #d3d3d3
$lightgrey2 = #e5e5e5
$darkbg = #121212
$footerbg = #1b1b1b
$transition = .4s ease
$slide_up_text = .40s cubic-bezier(0, 0.98, 0.94, 1)
$iphone = 320px
$iphoneH = $iphone * 1.5
$iphone5 = 568px
$iphone6 = 667px
$ipad = 768px
$ipadPro = 1024px
$desktop = $max-width
$goal01 = '../images/index_hat.png'
$goal03 = '../images/index_back.png'


text_underscore(border, color)
	display: inline-block;
	padding: 0.5rem 0;
	transition $transition
	color color
	font-size: 2.8rem
	padding 1rem 0
	@media screen and (max-width: $ipadPro)
		font-size: 2.5rem
	@media screen and (max-width: $ipad)
		font-size: 2rem
	@media screen and (max-width: $iphone5)
		font-size: 1.5rem
	@media screen and (max-width: $iphone)
		font-size: 1rem
	
	&:after
		content: "";
		display: block; 
		width: 100%
		max-width: calc('100% - 0.22rem');
		margin:1rem auto
		height: 1px;
		background-color: border
		transition .8s ease
	&:hover
		cursor pointer
		color $specialRed
		&:after
			width 0%
			background-color: $specialRed