$min-font = 30px
$max-font = 65px
$min-width = 200px
$max-width = 1200px

$mainfont = 'Roboto', 'sans-serif'
$line-height-ratio = $golden
$heading-ratio = $golden
$body-font = $mainfont
$body-font-weight = 300
$body-color = #1d1e1e
$heading-font = $mainfont
$vertical-rhythm = true
$specialRed = #cb1d00
$white = #FFF
$darkgrey = #242424
$darkgrey2 = #545454
$darkhover = #2d2d2d

$lightgrey = #d3d3d3
$lightgrey2 = #e5e5e5
$darkbg = #121212
$footerbg = #1b1b1b
$transition = .4s ease
$slide_up_text = .4s cubic-bezier(0, 0.98, 0.94, 1)
$iphone = 320px
$iphoneH = $iphone * 1.5
$iphone5 = 568px
$iphone6 = 667px
$ipad = 768px
$ipadPro = 1024px
$desktop = $max-width
$goal01 = '../images/index_hat.png'
$goal03 = '../images/index_back.png'


text_underscore(border, color)
	display: inline-block;
	transition $transition
	color color
	font-weight: 400;
	font-size: 70%;
	&:after
		content: "";
		display: block; 
		width: 100%
		max-width: calc('100% - 0.01rem');
		margin:.2rem auto
		height: 1px;
		background-color: border
		transition .8s ease
	&:hover
		cursor pointer
		color $specialRed
		&:after
			width 0%
			background-color: $specialRed


accordion_items()
	padding 0
	display: flex;
	flex-flow: column nowrap;
	margin: auto;
	max-width: 940px;
	width: 100%;
	li
		span 
			header
				text_underscore(#DDD, #232323)
				margin: 0.3rem 0;
				&.active
					color: #DDD
					&:hover
						color $specialRed
					& + main
						display block
						margin: 0;
						margin: .5rem 0
						max-height 100%
						@media screen and (max-width: $iphoneH)
							max-height: initial;
						opacity 1
						overflow visible
			main
				text-align left
				font-size: 30%;
				margin 0
				line-height: 200%;
				max-height 0
				opacity 0
				transition $transition
				overflow hidden