.button
	display: flex;
	align-items: center;
	border-radius: 10rem;
	min-height: 3.8rem;
	max-width: 15rem;
	width: 100%;
	padding 0 2rem
	background-color $specialRed
	transition $transition
	justify-content: flex-start
	span
		white-space: nowrap;
		color: #fff;
		font-weight: 400;
		font-size: 18px;
		display: flex;
		align-items: center;
		width: 100%;
		transition $transition
		&:after,&:before
			content ''
			width: 15px;
			height: 15px;
			margin auto
			background-repeat: no-repeat;
			transition $transition
		&:after	
			background-image: url(../images/icon_arrow.svg);
			background-position: 100%;
		&:before
			transform: rotate(180deg)
			background-image: url(../images/icon_arrow_black.svg);
			background-position: 0%;
	&:hover
		cursor pointer
		background-color $darkhover
		max-width: 16rem;
		span
			color $white !important

	&.right
		span
			&:after
				opacity 1
				margin 0 0 0 2rem
			&:before
				opacity 0
				display none
		&:hover
			span
				&:after
					margin 0 0rem 0 3rem
	&.left.center
		background-color #e5e5e5
		span
			color #1b1b1b
			&:after
				opacity 0
	&:hover
		background-color $darkhover !important
		span
			&:before
				filter: brightness(10)