.button
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 3rem;
	text-transform: uppercase;
	font-size: 0.7rem;
	line-height: 550%;
	height: 60px;
	justify-content: center;
	color: #fff;
	letter-spacing: 0.16rem;
	font-size: 60%;
	font-weight: 300;
	min-width: 245px;
	margin: 2em 0;
	&:after
		content '>'
		padding: 0 0 0 0.4rem;
	&.red
		background-color $specialRed
	

