.button
	display: flex;
	align-items: center;
	border-radius: 10rem;
	min-height: 3.8rem;
	max-width: 15rem;
	width: 100%;
	padding 0 2rem
	background-color $specialRed
	transition $transition
	justify-content: flex-start
	span
		white-space: nowrap;
		color: #fff;
		font-weight: 400;
		font-size: 18px;
		display: flex;
		width: 100%;
		&:after
			content ''
			transition $transition
			background-image: url(../images/icon_arrow.svg);
			background-repeat: no-repeat;
			background-position: 100%;
			width: 10px;
			height: 10px;
			margin auto
			opacity 1
		&:before
			content ''
			transition $transition
			background-image: url(../images/icon_arrow.svg);
			background-repeat: no-repeat;
			background-position: 0%;
			width: 10px;
			height: 10px;
			margin auto
			opacity 0
			display none
	&:hover
		cursor pointer
		background-color #2d2d2d
		max-width: 16rem;
		span
			&:after
				color $white
	

	&.left
		background-color $lightgrey
		span
			color $darkgrey
			&:after
				opacity 0
			&:before
				opacity 1
				display block
		&:hover
			background-color $specialRed
			span
				&:before
					color $white