#choose
	display none
	&.is-active
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 100;
		background: #FFF;
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;