.content
	display flex
	min-height: 100vh;

	
	.container
		margin 11rem auto 8rem
		flex-flow: column wrap;
		align-self: center;
		.link_under
			padding: 0.5rem 0;
			transition $transition
			color #545454

			&:after
				content: "";
				display: block; 
				width: 100%
				max-width: calc('100% - 0.16rem');
				margin:0.5rem auto
				height: 1px;
				background-color: $darkgrey2
				transition $transition
			&:hover
				cursor pointer
				color $specialRed
				&:after
					width 0%
					background-color: $specialRed


	&.index-about
		.container
			height: 100%;
			flex-direction column
			align-items: center;
			text-align: center;
			justify-content: center
			min-height 600px
			margin auto
			.title
				margin: 0 0 4rem;
				font-weight: 900;
				text-transform uppercase
				word-spacing: .3rem;
				line-height: 90%;
				transition $transition
