.footer
	background-color: $footerbg;
	padding-top 7.5rem
	padding-bottom 6rem
	@media screen and (max-width: $ipad)
		padding-bottom 3rem
		padding-top 3rem
	
	.container
		display flex 
		@media screen and (max-width: $ipadPro)
			flex-wrap wrap
			justify-content: flex-start;
		
		.footer-title
			min-width: $iphone;
			max-width: 50%;
			width: 100%;
			flex: 1 0 10rem;
			@media screen and (max-width: $ipadPro)
				max-width 100%
				margin-bottom 3rem
			.footer-slogan
				font-weight: 900;
				color: $white;
				transition $transition
				span
					display block
					font-size 4rem
					transition $transition
					
				@media screen and (max-width: $ipadPro)
					span
						display inline-block
						font-size 3rem
		.footer-menu
			display flex
			flex: 1 0 auto;
			@media screen and (max-width: $ipad)
				min-width $iphoneH
				justify-content: flex-start;
				flex-wrap: wrap;
			@media screen and (max-width: $iphoneH)
				min-width auto
			ul
				flex: 1 0 auto;
				padding 0
				@media screen and (max-width: $ipad)
					min-width 50%
				a
					line-height: 200%;
					font-weight: 600;
					color: $white;
					transition $transition
					font-size 25px
					min-width: 160px;
					&:hover
						color $specialRed
						cursor pointer
					@media screen and (max-width: $iphone)
						font-size: 17px;
		.footer-copy
			display flex
			width: 100%;
			align-items: center;
			margin-top: 5rem;
			flex-wrap: wrap;
			.copy
				color $darkhover
				font-size 18px
				max-width: 50%;
				width: 100%;
				min-width: $iphone;
				flex: 1 1 10rem;
			.footer-column
				margin 0 auto 0 0 
				flex: 1 0 50%;	
				font-weight 600
				&.footer-button
					margin 0 auto 0 auto
					flex: 1 1 20rem;
					display: flex;	
					@media screen and (max-width: $iphone5)
						flex: 1 0 $iphone5;
			@media screen and (max-width: $ipad)
				flex-wrap wrap
				.copy
					order 1
					margin-top 3rem
					min-width: 100%;
			@media screen and (max-width: $iphone)
				.copy
					font-size: 13px;
		