.goal03
	background-color $darkbg
	
	.container
		flex-direction: column;
		justify-content: space-around;
		background url($goal03) no-repeat
		background-size contain
		background-position 100% 50%
		min-height: 640px;
		&:before
			content: '03';
			color #242424
			font-weight bold
			position: absolute;
			bottom: 0;
			left: -4rem;
			font-size: 40rem;

