.header
	position: absolute;
	z-index: 10;
	font-weight 600
	letter-spacing: 0.05rem;
	font-size: .9rem;
	color $white
	.container
		display flex
		align-items center
		justify-content space-between
		min-height 10em
		flex-wrap wrap
		justify-content center
		.header-column
			display flex
			align-items center
			flex: 1 0 auto;
			margin: 20px 0;
			&.menu
				@media screen and (max-width: 620px)
					min-width: 100%;
			&:first-child, &:last-child
				flex: 1 0 auto;
				max-width 310px
			&:last-child
				justify-content: flex-end;
				@media screen and (max-width: 620px)
					min-width: 100%;
					justify-content: center;
				
			&:last-child, &:first-child
				@media screen and (max-width: 640px)
					flex 0
			.header-top_menu
				display flex 
				padding 0
				text-transform uppercase
				width: 100%;
				justify-content: space-around
				margin: 0 2em;
				li
					padding: 0 5px
			.header-location
				margin: 0 2em 0 15%
				color #626262
				text-align: center;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: center;
				img
					margin 0 5px
			.header-top_cart
				text-align: center;
				text-transform uppercase
				display: flex;
				align-items: center;
				justify-content center
				flex-wrap: wrap
				
				img
					margin: 0 15px 5px 15px;

