.header
	position: absolute;
	top: 0rem;
	z-index: 10;
	font-weight 600
	color #262626
	&.white_header
		color $white
	
	.container
		display flex
		justify-content space-between
		min-height 10em
		flex-flow row wrap
		align-items center
		justify-content center
		@media screen and (max-width: $ipad)
			min-height: auto;
			padding: 15px;
		
		.header-column
			display flex
			flex: 1 0 auto;
			align-self: center;
			.logo
				img
					width 67px
					height 67px
			
			&.menu
				@media screen and (max-width: $desktop)
					min-width: 100%;
				a
					transition $transition
					&:hover
						color $specialRed
			&:first-child, &:last-child
				flex: 1 0 auto;
				max-width 310px
			&:last-child
				justify-content: flex-end;
				@media screen and (max-width: $ipad)
					min-width: 100%;
					justify-content: center;
				
			&.top_social
				display none
			.top_menu
				display flex 
				padding 0
				font-weight: 400;
				width: 100%;
				justify-content: center
				margin: 0 2em;	
				li
					font-size: 21px;
					font-weight 400		
					margin: 0 1rem;
					min-width: 100px;
					text-align: center;	
					transition $transition
			.location
				margin: 0 auto 0 3rem
				text-align: center;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: center;
				cursor pointer
				top: 1px;
				@media screen and (max-width: $desktop)
					display none
				img
					margin: 0 0.5rem;
					width: 16px;
					height: 16px;
				span
					font-size 85%
					font-weight 300	
					transition: $transition
				&:hover
					span
						color $specialRed
			&.serv
				@media screen and (max-width: $desktop)
					flex: 0 0 220px;
					align-items center
					.logo
						align-self: center;
			&.cart
				justify-content: flex-end;
				display: flex;
				flex: 0 0 220px;
				.top_cart
					text-align: center;
					display: flex;

					.cart-img
						display flex
						align-items: center;
						flex-flow row wrap
						align-items center
						font-size: 129%;
						font-weight 400
						transition: $transition
						top: 1px;
						img
							width 21px
							height 21px
							margin: 1rem 1rem 1.3rem 1rem;
					&:hover
						cursor pointer
						a
							color $specialRed			
						
						

	@media screen and (max-width: $desktop)
		.container
			align-items: flex-start;
			overflow auto
			justify-content flex-start

			.header-column
				&.menu,&.cart 
					display none
				&:first-child
					margin 0
					min-width: 100%;
		&.mobile-menu-active
			position fixed
			width 100%
			height 100%
			background-color #d7d7d7
			z-index 100
			overflow auto
			top 0
			transition: .1s ease-out
			padding 2rem
			.container
				min-height: 100%;
				margin: 0;

			.header-column
				max-width: 100%;
				flex 1 1 auto
				&.menu,&.cart 
					display block
				.hamburger
					display block
					.hamburger-inner
						background-color $specialRed
						&:before,&:after
							background-color $specialRed
				
				&:last-child
					justify-content: flex-start;
					margin: 3rem 0;
					
				&.serv
					top: 0
					align-items: flex-start;
					max-height: 4rem;
					.hamburger
						top: 2rem;
						right: 2rem;
						padding: 0;
					@media screen and (max-width: $ipadPro)
						display block
				.location span
					color $darkgrey
					font-weight: 600;
					@media screen and (max-width: $ipadPro)
						font-size: 20px !important;
				&.cart
					display flex
					align-items: flex-start;
					flex: 0;
					margin: 1rem 0 2rem;
					text-transform: uppercase;
					justify-content: flex-start;
					min-width: 100%;
					.top_cart
						.cart-img
							justify-content: flex-start;
							flex-direction: row-reverse;
							font-size: 472%;
							font-weight: 900;
							color $darkgrey
							line-height: 100%

							&:hover
								color $specialRed
							@media screen and (max-width: $ipadPro)
								font-size: 3rem !important;
								
							@media screen and (max-width: $ipad)
								font-size: 2.6rem !important;
							img
								width 2rem !important;
								height 2rem !important;
				&.menu
					display: flex;
					margin: 0 0 auto;
					flex 0 0 auto
					.top_menu
						margin: 0;
						justify-content: flex-start;
						flex-flow column wrap
						li 
							margin 0
							text-align left
							a
								font-size: 472%
								font-weight: 900;
								line-height: 120%;
								margin 0
								text-align: left;
								color $darkgrey
								text-transform: uppercase;
								&:hover
									color $specialRed
								@media screen and (max-width: $ipadPro)
									font-size: 4rem !important;
								@media screen and (max-width: $ipad)
									font-size: 2.6rem !important;
							
				&.top_social
					display flex
					order 4
					min-width: 24rem;
					margin 0
					flex: 1 0 auto;
					align-items: flex-end;
					min-width: 100%;
					.list
						display flex
						flex-flow column wrap
						padding 0
						font-weight 600
						padding 0
						li
							a
								font-size: 266%;
								font-weight: 600;
								line-height: 120%;
								transition $transition 
								color $darkgrey
								&:hover
									color $specialRed
								@media screen and (max-width: $ipadPro)
									font-size: 2rem !important;
									line-height: 110% !important;
								@media screen and (max-width: $ipad)
									font-size: 1.6rem !important;
								
				.logo
					display none
				.location
					display block
					margin-right: auto;
					margin-left: 0;
					img
						margin-left 0
					

				
@media all and (orientation: landscape)
	.mobile-menu-active
		.top_social
			position: absolute !important
			right: 2rem !important
			bottom: 2rem !important
			ul
				position: absolute;
				right: 0;
				bottom: 0;
				@media all and (max-width: $ipad)
					right 0 !important
		.cart
			margin: 2.5rem 0;
			align-items: flex-end !important
		.menu 
			flex 1 1 auto