.hero
	background-color $darkbg
	.container
		flex-direction column
		max-height: 1200px;
		height 100%
		// padding-bottom: 5rem;
		@media screen and (min-height $desktop)
			    max-height: $desktop;
		
		@media screen and (max-width: $ipad)
			height 100vh
		@media screen and (max-width: 580px)
			min-height: 480px;
		
		&:after
			content: '';
			position: absolute;
			top: 2rem;
			right: -8rem;
			background: url($goal01) no-repeat;
			background-size: contain;
			background-position: 100% 50%;
			height: 100%;
			max-width: 100%;
			width: 930px;
			z-index: 6;
			@media screen and (max-width: $ipad)
				right: -30%;
			
		.screener
			z-index 10
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			max-width: 75%
			flex: 1 0 auto;
			justify-content: center;
			@media screen and (max-width: 620px)
				max-width: 100%;
				padding 0
			@media screen and (max-width: $iphone)
				max-height: 1200px;
			h1
				color $white
				font-weight: 900;
				line-height: 85%;
				text-transform uppercase
				margin: 1rem 0;
				transition $transition
				span
					display block
			.button
				margin: 0 0 2rem;
					


