.slide_up_text,.slide_up_text>div,.slide_up_text>li
	overflow hidden
	span,a
		display block
		transition $slide_up_text
		transform: translate(0, 100%)
	&.slide_up_text--active
		span,a
			display block
			transform: translate(0, 0%)
		div:nth-child(2)
			span
				transition-delay: 0.3s;
		div:nth-child(3)
			span
				transition-delay: 0.6s;
			
			