@import '../../node_modules/sanitize.stylus/sanitize.styl'
@import 'kouto-swiss'
@import 'typographic'

meyer-reset()
box-sizing-reset()

edit()

$min-font = 12px * $golden
$max-font = 26px * $golden
$min-width = 380px
$max-width = 1200px

$mainfont = 'Roboto', 'sans-serif'
$line-height-ratio = 1.75
$heading-ratio = $golden
$body-font = $mainfont
$body-font-weight = 300
$body-color = #666
$heading-font = $mainfont
$heading-font-weight = 500
$heading-color = #111
$vertical-rhythm = true
typographic()

$specialRed = #cb1d00
$white = #FFF
$darkgrey = #242424
$lightgrey = #d3d3d3
$darkbg = #121212
$footerbg = #1b1b1b
$transition = .4s ease-in-out
$iphone = 320px
$iphoneH = $iphone * 1.5
$iphone5 = 568px
$ipad = 768px
$desktop = $max-width
$goal01 = '../images/index_hat.png'
$goal03 = '../images/index_back.png'


*
	color inherit
	z-index 5
	position relative
	
body
	letter-spacing 0.04em !important
 
#app
	display: flex
	flex-direction column
	flex 1 0 0
	flex-flow column wrap
	overflow-x hidden

	section
		max-width 100%
		width 100vw
		flex 1
		padding 0 15px

	.container 
		flex 1 0 0
		margin auto
		display: flex;
		align-items: flex-start;
		max-width: $max-width

	@import 'hamburger.styl'

	@import 'header.styl'
	@import 'footer.styl'

	@import 'hero.styl'
	@import 'about.styl'
	@import 'button.styl'
