@import '../../node_modules/sanitize.stylus/sanitize.styl'
@import 'kouto-swiss'
@import 'typographic'

meyer-reset()
box-sizing-reset()

edit()

$min-font = 12px
$max-font = 18px
$min-width = 320px
$max-width = 1200px
$max-width-plus = 1600px

$mainfont = 'Poppins', 'Roboto', 'Halvetica', 'sans-serif'
$line-height-ratio = 1.75
$heading-ratio = $golden
$body-font = $mainfont
$body-font-weight = 300
$body-color = #666
$heading-font = $mainfont
$heading-font-weight = 500
$heading-color = #111
$vertical-rhythm = true
typographic()

$specialRed = #cb1d00
$white = #FFF
$darkgrey = #242424
$lightgrey = #d3d3d3
$darkbg = #121212
$footerbg = #1b1b1b
$goal01 = '../images/index_hat.png'
$goal03 = '../images/index_back.png'


*
	color inherit
	z-index 5
	position relative	

#app
	display flex 
	flex-direction column
	flex 1
	flex-wrap: wrap;
	overflow hidden
	h1
		color $white 
		font-weight: bold;

	section
		max-width 100%
		width 100%
		flex 1
		padding 0 15px

	.container 
		width 100%
		flex 1
		margin auto
		display: flex;
		align-items: flex-start;
		max-width: $max-width
		
		

	@import 'button.styl'
	@import 'hamburger.styl'

	@import 'header.styl'
	@import 'footer.styl'

	@import 'goal01.styl'
	@import 'goal02.styl'
	@import 'goal03.styl'
