block choose
	#choose
		.title Choose country
		ul
			li 
				a(href="#") Barbados
			li 
				a(href="#") Grenadine
			li 
				a(href="#") Jamaica
			li 
				a(href="#") St.Lucia
			li 
				a(href="#") St.Vincent
		.button.left.center.location_toggle
			span Back