block choose
	#choose
		.title Choose country
		ul.slide_up_text
			li
				span 
					a(href="#") Barbados
			li
				span 
					a(href="#") Grenadine
			li
				span 
					a(href="#") Jamaica
			li
				span 
					a(href="#") St.Lucia
			li
				span 
					a(href="#") St.Vincent
		.button.left.center.location_toggle
			span Back