block footer
	section.footer
		.container
			.footer-title 
				//- .logo
				//- 	img(src="images/header_logo.png", alt="LOGOTYPE")
				h6.footer-slogan
					span Best security&nbsp;
					span for home &&nbsp;
					span business. 

			.footer-menu
				ul 
					li About
					li Products
					li Help
					li Contact
				ul 
					li Youtube
					li Facebook
					li Twitter
					li Google Plus
		.container
			.footer-copy
				.copy &copy;2017 Copyright. All rights reserved
				.footer-column.footer-button
					.button 
						span View products