block footer
	section.footer
		.container
			.footer-title 
				//- .logo
				//- 	img(src="images/header_logo.png", alt="LOGOTYPE")
				h6.footer-slogan
					div
						span Best security&nbsp;
					div.slide_up_text
						span for home &&nbsp;
					div.slide_up_text
						span business. 

			.footer-menu
				ul
					li
						a(href="about.html") About
					li.slide_up_text
						a(href="products.html") Products
					li.slide_up_text
						a(href="help.html") Help
					li.slide_up_text
						a(href="contact.html") Contact
				ul
					li
						a(href="https://www.youtube.com/user/GuardsmanGroup/", target="_blank") YouTube
					li.slide_up_text
						a(href="https://www.facebook.com/GuardsmanGroup", target="_blank") Facebook
					li.slide_up_text
						a(href="https://twitter.com/guardsmangroup", target="_blank") Twitter
					li.slide_up_text
						a(href="http://gplus.to/guardsmangroup", target="_blank") Google Plus
		.container
			.footer-copy
				.copy &copy;2017 Copyright. All rights reserved
				.footer-column.footer-button
					.button.right
						span View products