section.header
	.container
		.header-column.serv
			.logo 
				a(href="index.html")
					img(src="images/icon_logo.svg", alt="LOGOTYPE")
			.location.location_toggle 
				a 
					img(src="images/icon_marker.svg", alt="Location") 
					span Jamaica
		.header-column.menu
			ul.top_menu
				li 
					a(href="about.html") About
				li
					a(href="products.html") Products
				li
					a(href="help.html") Help
				li
					a(href="contact.html") Contact
		.header-column.cart
			.top_cart 
				a(href="cart.html").cart-img 
					img(src="images/icon_cart.svg", alt="Cart")
					span Cart 
		.header-column.top_social
			ul.list
				li
					a(href="https://www.youtube.com/user/GuardsmanGroup/", target="_blank") YouTube
				li
					a(href="https://www.facebook.com/GuardsmanGroup", target="_blank") Facebook
				li
					a(href="https://twitter.com/guardsmangroup", target="_blank") Twitter
				li
					a(href="http://gplus.to/guardsmangroup", target="_blank") Google Plus
