section.header
	.container
		.header-column.serv
			.logo 
				a(href="index.html")
					img(src="images/icon_logo.svg", alt="LOGOTYPE")
			.location 
				img(src="images/icon_marker.svg", alt="Location") 
				span Jamaica
			button#hamburger.hamburger.hamburger--minus
				span.hamburger-box
					span.hamburger-inner
		.header-column.menu
			ul.top_menu
				li 
					a(href="about.html") About
				li
					a(href="products.html") Products
				li
					a(href="help.html") Help
				li
					a(href="contact.html") Contact
		.header-column.cart
			.top_cart 
				.cart-img
					img(src="images/icon_cart.svg", alt="Cart") 
				span Cart
		.header-column.top_social
			ul.list
				li
					a(href="#") YouTube
				li
					a(href="#") Facebook
				li
					a(href="#") Twitter
				li
					a(href="#") Google Plus