html(lang="en-us")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title= name
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
		meta(name="description", content= description)
		link(rel="stylesheet", href='css/gulp-boilerplate.css')
		link(href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=devanagari" rel="stylesheet")
	body
		#app
			block content
