section.header
	position: absolute;
	@media screen and (max-width: $desktop)
		top $overpadding
	top: 0.7rem;
	z-index: 10;
	font-weight 600
	color $darkgrey
	&.white_header
		color $white
	.container
		display flex
		justify-content space-between
		flex-flow row nowrap
		align-items center
		justify-content center
		
		.column
			display flex
			flex: 1 0 auto;
			align-self: center;
			flex-flow row nowrap
			font-size 31%
			font-weight 400
			
			&.serv
				flex: 0 0 210px;
				align-items center
				justify-content: space-between;
				margin-right: 1rem;
				.logo
					align-self: center;
					img
						width 67px
						height 67px
				.location
					display: flex;
					text-align: center;
					align-items: center;
					cursor pointer
					img
						margin: auto 10px;
						width: .3rem;
						height: .3rem;
					span
						font-size 65%
						transition: $transition
					&:hover
						span
							color $specialRed
			&.cart
				justify-content: flex-end;
				flex: 0 0 210px;
				.cart_container
					text-align: center;
					display: flex;
					a.inner
						display flex
						align-items center
						transition: $transition
						img
							width .3rem
							height .3rem
							margin: auto $overpadding;
					&:hover
						cursor pointer
						a
							color $specialRed			
			&.menu
				.top_menu
					display flex 
					padding 0
					margin: auto;
					width: 100%;
					justify-content: center
					li
						margin: 0 0.2rem
						min-width: 1.65rem;
						text-align: center;
						transition $transition
						a
							&:hover
								color $specialRed		
			@media screen and (max-width: $desktop)
				&.serv
					flex 1
					.location
						display none
				&.cart
					display none
				&.menu
					display none
			