section.in-cart
	flex-flow: column wrap;
	.container
		align-items: center;
		justify-content: center;
		margin: auto;
		height: 100%;
		.inner
			max-width: 930px;
			margin: auto;
			.is-empty
				.title
					color $lightgrey2
					margin: 0 0 4rem;
					font-weight: 900;
					text-transform uppercase
					word-spacing: .3rem;
					line-height: 90%;
					transition $transition
					text-align center
				.link_under
					text_underscore($darkgrey2, darkgrey2)
			.product_count
				color $lightgrey
			.product
				display flex 
				flex-flow column nowrap
				header
					display flex 
					align-items: center;
					.title
						margin 0 auto 0 0
						text_underscore(#DDD, #232323)
					.edit, .delete
						margin 0 0 0 1rem
				main
					.description
					ul.items
						padding: 0;
						li
							display flex
							// .header
							// .name
		.steps
			display flex
			width 100%
			margin: 1rem 0;
			.button:first-child
				margin 0 auto 0 0
