section.in-cart
	flex-flow: column wrap;
	.container
		align-items: center;
		justify-content: center;
		margin: auto;
		height: 100%;
		&.is-empty
			.title
				color $lightgrey2
				margin: 0 0 4rem;
				font-weight: 900;
				text-transform uppercase
				word-spacing: .3rem;
				line-height: 90%;
				transition $transition
				text-align center
			.link_under
				text_underscore($darkgrey2, darkgrey2)
		.inner
			width: 100%;
			max-width: 940px;
			margin: auto;
			.product_count
				color $lightgrey
				text-align center
				font-size: 130%;
				margin-bottom: 3rem;
			.product
				display flex 
				width 100%
				flex-flow column nowrap
				header
					display flex 
					align-items: center;
					.title
						margin 0 auto 0 0
						text_underscore(#DDD, #232323)
					.edit, .delete
						span
							margin: 0 0 0 2rem;
							width: 30px;
							height: 30px;
							cursor: pointer;
							background-repeat: no-repeat;
					.edit
						span
							background-image: url(../images/icon_edit.svg);
					.delete
						span
							background-image: url(../images/icon_delete.svg);
				main
					max-height 0
					transition $transition
					.description
						line-height 200%
					ul.items
						padding: 0;
						li
							display flex
				&.active
					main
						max-height 100%
		.steps
			display flex
			width 100%
			margin: 1rem 0;
			.button:first-child
				margin 0 auto 0 0
