section.in-cart
	flex-flow: column wrap;
	.container
		align-items: center;
		justify-content: center;
		min-height: 520px;
		flex-flow column nowrap
		&.is-empty
			.title
				color $lightgrey2
				margin: 0 0 4rem;
				font-weight: 900;
				text-transform uppercase
				word-spacing: .3rem;
				line-height: 90%;
				transition $transition
				text-align center
			.link_under
				text_underscore($darkgrey2, darkgrey2)

		.product_count
			color $lightgrey
			text-align center
			font-size: 130%;
			margin-bottom: 3rem;
		.accordion_items
			accordion_items()
			.edit, .delete
				position absolute
				right 0
				top 0
				z-index 20
				margin: 0 0 0 2rem;
				width: 30px;
				height: 30px;
				cursor: pointer;
				background-repeat: no-repeat;
			.edit
				right 4rem
				background-image: url(../images/icon_edit.svg);
			.delete
				background-image: url(../images/icon_delete.svg);

		.steps
			display flex
			width 100%
			margin: 1rem 0;
			.button:first-child
				margin 0 auto 0 0
