.contact
	.container
		.office
			display: flex;
			flex-flow: column wrap;
			margin 2rem auto
			width: 100%;
			address.vcard
				margin 2rem 0
				.hide
					display none
				.adr,.call,.info
					display: flex;
					flex-flow: column wrap;
					align-items: center;
					justify-content: center;
					span,a
						&:after
							content: "";
							display: block;
							width: 100%;
							margin:0.3rem auto
							height: 1px;
							background-color: $lightgrey2
							transition $transition
					.fax,.tel
						display inline-block
						margin 0 auto
				.adr
					font-size: 260%;
					font-weight 500
					line-height 150%
				.call
					flex-flow row nowrap
					font-size: 160%;
				.info
					margin 3rem
					font-size: 160%			
		.social
			display: flex;
			flex-flow: column wrap;
			align-items: center;
			width: 100%;
			justify-content: center;
			text-align: center;
			.slogan 
				font-weight: 400;
				line-height: 120%;
			ul.links
				display flex 
				padding 0
				width 100%
				flex-flow row wrap
				justify-content: center;
				li
					margin 0 auto
							
					
		ul.office-tab
			margin 2rem auto
			padding 0
			display flex
			flex-flow row wrap
			li
				flex 1 0 auto
				white-space nowrap
				margin 1rem
		ul.forces
			margin 2rem auto
			padding 0
			display flex
			flex-flow row wrap
			li
				flex 1 0 25%
				@media screen and (max-width: $ipad)
					flex 1 0 50%
				@media screen and (max-width: 400px)
					flex 1 0 100%

				.force-name
					font-weight 700
					margin 1rem 0
				.force-address,.force-tel,.force-fax
					font-weight 300