section.help
	.container
		ul.faq
			text-align center
			padding 0
			display: flex;
			flex-flow: column nowrap;
			margin: auto;
			li
				span
					header
						font-size: 2.8rem
						padding 1rem 0
						text_underscore(#DDD, #232323)
						&.active
							color: #DDD
							&:hover
								color $specialRed
							& + main
								display block
								opacity 1
								margin: 3rem 0;
								top 0
								height auto
								overflow visible
								transition $transition
								
					main
						height 0
						top 1rem
						overflow hidden
						font-size: 1.2rem
						margin 0
						opacity 0
						transition $transition
						line-height: 200%;

							